MONGODB_URI=mongodb+srv://app_user:PASS@cluster0.xxxxxx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=ecommerce
PORT=8080

JWT_SECRET=super_secret_key
JWT_EXPIRE=7d

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_user
SMTP_PASS=your_pass

FRONTEND_URL=http://localhost:3000
